/* || GENERAL STYLES */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 1.2rem;
}
.techStack {
  font-size: 1rem;
}
h1 {
  color: black;
  font-size: 3.5rem;
}
h2 {
  color: dimgray;
  font-size: 2.8rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
/* || Typography */
h1,
h2,
h3,
h4 {
  font-family: Tahoma;
}

li {
  margin: 1rem 0;
}

button {
  background-color: royalblue;
}

.dropCap::first-letter {
  color: royalblue;
  float: left;
  font-size: 2.6em;
  font-weight: bold;
  line-height: 1;
  margin-inline-end: 0.2rem;
}
/* || Header and Main Navigation */
.headFloatLeft {
  position: relative;
  width: 50%;
  float: left;
  height: 70vh;
}

.headFloatRight {
  width: 50%;
  float: right;
  min-height: 39vh;
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.containerTitle {
  padding-right: 8rem;
  padding-top: 5rem;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: lightgrey;
  overflow: hidden;
  z-index: 2;
  position: sticky;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: royalblue;
  color: white;
}

/*-----HERE I SHALL BEGIN THE GRID CSS STYLE -----*/
.container {
  height: 90vh;
  width: 90vw;
  margin: 2rem auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "left right right"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  /*gap*/
  grid-gap: 10px 10px;
}

.cell-1 {
  background: white;
  grid-area: header;
  text-align: center;
  position: relative;
  padding: 0 !important;
}
.cell-2 {
  background: lightgrey;
  grid-area: left;
}

.cell-3 {
  background: lightgrey;
  grid-area: main;
  padding: 6rem;
}
.cell-4 {
  background: gold;
  grid-area: right;
}
.cell-5 {
  background: gold;
  grid-area: footer;
}
.cell {
  text-align: flex-start;
  padding: 4rem;
}

/************Collapsible module************/

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border-radius: 1rem;
  margin: 0.2rem 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: rgb(19, 54, 158);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/************Focus module************/
*:focus {
  color: black;
  background-color: cyan;
  box-shadow: 0 -2px cyan, 0 4px black;
  text-decoration: none;
  outline: black solid 0.1rem;
}

/************Images************/

.paddyPalug {
  filter: contrast(140%);
  height: 70vh;
  width: 70vh;
  position: absolute;
  left: 5%;
}

/************Moving eyes module************/
.containerEyes {
  position: absolute;
  height: 70vh;
  width: 70vh;
  left: 5%;
  z-index: 1;
}
.eye {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  height: 3vh;
  width: 3vh;
  top: 27%;
  left: 25%;
  background: white;
}
.eye2 {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  height: 3vh;
  width: 3vh;
  top: 26%;
  left: 30%;
  background: white;
}
.eye:after {
  /*pupil*/
  position: absolute;
  bottom: 2vh;
  right: 10px;
  width: 0.6vh;
  height: 0.6vh;
  background: #000;
  border-radius: 50%;
  content: " ";
}
.eye2:after {
  /*pupil*/
  position: absolute;
  bottom: 2vh;
  right: 10px;
  width: 0.6vh;
  height: 0.6vh;
  background: #000;
  border-radius: 50%;
  content: " ";
}

/******* Media queries ******/

@media (max-width: 1000px) {
  .headFloatRight {
    display: block;
    margin-left: 50vh;
    margin-right: 50vh;
  }
}
