 /************When shall I run?************/ 
body{ 
height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
font-family: sans-serif;
color:white;
}

.topnav {
    background-color: lightgrey;
    overflow: hidden;
    z-index: 2;
    position: relative;
    top: -8vh;
    width: 92%;
  }

  /*Weather specific items*/

.location, 
.temperature {
    width: 50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.running {
    display: inline-flex;
}

.running>h3 {
    margin-right: 2rem;
}

.running .time-to-go {
    border: 2px solid aliceblue;

}

.degree-section span {
    margin: 0.8rem;
    font-size: 3rem;
}

.degree-section h2 {
    font-size: 4rem;
}


/*CHART*/
#chart {
    width:600px !important;
    height:400px !important;
}

.chart-wrapper {
    background-color: white;
}