
iframe {
    width: 100%;
    height: auto;
    display: block;
  }
  
/* Styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  /* Styles for table cells */
  td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  /* Styles for table headers */
  th {
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* Style for read-only cells */
  td[readonly] {
    background-color: #f9f9f9;
    color: #777;
  }
  
  /* Style for read-only headers */
  th[readonly] {
    background-color: #f9f9f9;
    color: #777;
  }
  