
/* || GENERAL STYLES */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

h2 {
  font-size: 2rem;
  margin:0;
}
  
/* Styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  }
  
  /* Styles for table cells */
  td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  /* Styles for table headers */
  th {
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* Style for read-only cells */
  td[readonly] {
    background-color: #f9f9f9;
    color: #777;
  }
  
  /* Style for read-only headers */
  th[readonly] {
    background-color: #f9f9f9;
    color: #777;
  }

  tr:nth-child(even) {
    background-color: lightgray;
  }
  
   /* Tab content */
   .tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Tab links */
.tab-links {
    display: flex;
}

.tab-links li {
    margin-right: 10px;
    list-style-type: none;
}

.tab-links li a {
    padding: 10px;
    background-color: #ccc;
    text-decoration: none;
    color: #000;
}

.tab-links li a:hover {
    background-color: #aaa;
}

  /* Active tab style */
  .tab-links li a.active {
    background-color: #555;
    color: #fff;
}

/* Show the active tab */
.tab-content:target {
    display: block;
}