/* Add a black background color to the top navigation */
.topnav {
  background-color: lightgrey;
  overflow: hidden;
  z-index: 2;
  position: sticky;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: royalblue;
  color: white;
}

body {
  overflow: hidden; /* Hide scrollbars */
  }