<html>
<head>
   
<link rel="stylesheet" type="text/css" href="/my_cv.github.io/Components/Navigation/top_nav_styles.css" />
</head>
<div class="topnav">
    <nav>
    <a href="#" data-page="index" onclick="navigateToPage('/index.HTML')">Home</a>
    <a href="#" data-page="rhedeg" onclick="navigateToPage('/Rhedeg/rhedeg.HTML')">Rhedeg</a>
    <a href="#" data-page="WhenShallIRun" onclick="navigateToPage('/When shall i run/WhenShallIRun.HTML')">When should you run?</a>
    <a href="#" data-page="Map" onclick="navigateToPage('/Map/Map.HTML')">Map</a>
    <a href="#" data-page="ClubActivities" onclick="navigateToPage('/canlyniadau rhedeg/ClubActivities.HTML')"> Club activities</a>
</nav>
  </div>


</html>